<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">Trang Chủ admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/account">Nguoi dung</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/product">Sản Phẩm </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/category">The Loai</a>
        </li>
    </ul>
</nav>


<div th:if="${page == 'admin-index'}">
    <h1 class="text-success text-center">Day la trang chu ADmin</h1>
</div>

<div th:if="${page == 'admin-account'}">
    <div th:replace="admin/admin-account-list.html::adminAccountList"></div>
</div>

<div th:if="${page == 'admin-product'}">
    <div th:replace="admin/admin-product-list.html::adminProductList"></div>

</div>

<div th:if="${page == 'admin-category'}">
    <div th:replace="admin/admin-category-list.html::adminCategoryList"></div>
</div>
</body>
</html>