<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Trang Chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product">Sản Phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Lien he</a>
        </li>
    </ul>
</nav>
<!--<span class="text-secondary" th:text="${page}"></span>-->
<div th:if="${page == 'client-index'}">
    <h1 class="text-success text-center">Trang chu</h1>
</div>

<div th:if="${page == 'product-list-client'}">
    <div th:replace="product-list-client.html::ProductListClient">
    </div>
</div>

<div th:if="${page == 'client-contact'}">
    <div th:replace="client-contact.html::ClientContac"></div>

</div>
</body>
</html>