<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>
    <h2 class="text-success text-center">Danh sach Account</h2>

    <container class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Created At</td>
                    <td>Updated At</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="obj : ${accounts}">
                    <td th:text="${obj.id}">id</td>
                    <td th:text="${obj.username}">username</td>
                    <td th:text="${obj.email}">email</td>
                    <td th:text="${obj.password}">pasword</td>
                    <td th:text="${obj.createdAt}">createdAt</td>
                    <td th:text="${obj.updatedAt}">updatedAt</td>

                    <td><a th:href="${'/account/edit/' + obj.id}">Edit</a></td>
<!--                    <td><a th:href="${'/account/delete/' + obj.id}">Delete</a></td>-->
                    <td><a th:href="${'/account/delete/' + obj.id}">Delete</a></td>

                </tr>
            </tbody>
        </table>
    </container>
</body>
</html>